body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

/* Navbar */
.navbar-brand {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 22px;
}

.nav-link {
    margin-right: 55px;
}

/* ============== Header-top ============== */
.header-top {
    background-color: #1D2D5F;
}

.header-top-box-img {
    position: absolute;
}

.header-top-text-wrapper {
    padding-top: 229px;
    padding-left: 50px;
}

.header-top h2,
p {
    position: relative;
    color: white;
}

.header-top h2 {
    font-size: 30px;
    font-weight: bold;
}

.header-top p {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
}

/* Info panel */
.info-panel-card {
    margin-top: -80px;
    height: 160px;
    box-shadow: 0px 4px 20px rgba(29, 45, 95, 0.15);
    border: none;
    border-radius: 15px;
}

.next {
    height: 700px;
}

.img-test {
    height: 50px;
}