body {
    font-family: 'Poppins';
}

/* Navbar */
.navbar-brand {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 22px;
}

/* ============== Header-top ============== */
.header-top {
    background-color: #1D2D5F;
}